fastapi
uvicorn
httpx
pydantic
pydantic-settings
pytest
pytest-asyncio
google-genai
sqlalchemy
aiosqlite
asyncpg
aiomqtt
psycopg2-binary
paho-mqtt
redis
openai
google-auth
prometheus-fastapi-instrumentator
PyJWT
bcrypt
python-multipart
firebase-admin==6.4.0
python-dateutil
